
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family:'Inter',sans-serif;
	List-style:none;
	text-decoration:none;
	scroll-behavior:smooth;
	border:none;
	outline:none;
}
:root{
    --bg-color:#191919;
	--secont-bg-color:#101010;
	--main-color:#e9204f;
	--text-color:#fff;
	--second-color:#e4e4e4;
	--other-color:#c6c9d8bf;
	
	--h1-font:7rem;
	--h2-font:3.5rem;
	--p-font:1.1rem;

}

body{
	color: var(--text-color);
	background: var(--bg-color);
}

 header{
	position:fixed;
	top:0;
	right:0;
	z-index:1000;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	background:transparent;
	padding:28px 11%;
	border-bottom:1px solid transparent;
	transition:all ease .50s;
}
.navlist{
	 display:flex;
 }
.navlist a{
	 color:var(--second-color);
	 font-size:var(--p-font);
	 font-weight:600;
	 margin:0 40px;
	 transition: all ease .40s;
 }
.navlist a:hover{
	 color:var(--main-color);
 }
#menu-icon{
	font-size:42px;
	color:var(--text-color);
	z-index:10001;
	cursor:pointer;
	display:none;
}
 
 
#menu-icon{
	 font-size:42px;
	 color:var(--text-color);
	 z-index:10001;
	 cursor:pointer;
	 display:none;
 }
  
section{
	 padding:120px 19% 100px;
 }
 
.home{
	position:relative;
	min-height:100vh;
	width:100%;
	background-image:url(images/pic2.jpg);
	background-size:cover;
	background-position:center;
	display:flex;
	align-items:center;
	justify-content:flex-start;
}
.hero-text h3{
	color:var(--second-color);
	font-size:22px;
	font-weight:600;
	margin-bottom:15px;
	word-spacing:10px;
}

	
	
	
.btn{
	display: inline-blocks;
	padding:5px 15px;
	background:var(--main-color);
	color:var(--text-color);
	font-size:var(--p-font);
	font-weight:200;
	border:2px solid var(--main-color);
	transition: all ease .50s;
}
.btn:hover{
	transform:translateX(5px);
	background:transparent;
	border:2px solid var(--main-color)
}
.about{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(200px,auto));
	align-items:center;
	gap:4rem;
}
.about-img img{
	width:100%;
	height:auto;
}
.about-text h2{
	font-family:'dosis',sana-serif;
	font-size:var(--h2-font);
	font-weight:800;
	margin-bottom:10px;
}
.education{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding:80px;
    margin:20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #178c6b;
}
#portfolio{
    padding:50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
   border-radius: 10px;
   position: relative;
   overflow: hidden; 
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius:50% 
    text-align: center;
}
.work :hover img{
transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin:50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
   margin-top: 30px;
}
.contact-left{
    color: #e92563;
   margin-right: 15px;
   font-size: 25px;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display:inline-block ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px)

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}


form .btn2{
    padding: 12px 60px;
    font-size: 20px;
    margin-top: 150px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding:25px 0 ;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

	
	
	